<!-- create/edit simple -->
<table width='90%'>
    <tr>
        <td colspan=2><span id=error></span></td>
    </tr>
    <tr>
        <td colspan=2><span id=message></span></td>
    </tr>
    <tr>
        <th>Name:</th>
        <td><input name=name id=name size=40 value="{{data.name|escape}}" spellcheck=true></input></td>
        <td><span id='name-error'></span></td>
    </tr>
    <tr>
        <td colspan=2><span id='text-error'></span></td>
    </tr>
    <tr>
        <th>Parent:</th>
        <td><select id=parent>
                {% for o in base.parent.entries -%}
                <option value="{{- o.link.ident -}}" {% if
                o.selected%}selected{% endif %}>{{o.descr|escape}}</option>
                {% endfor %}
            </select></td>
        <td></td>
    </tr>
    <tr>
        <th>Can be parent:</th>
        <td>
            <input type=checkbox id=canbeparent {% if base.can_be_parent %} checked {%
       endif %}></td>
    </tr>
    <tr>
        <th>Can be context:</th>
        <td>
            <input type=checkbox id=canbecontext {% if base.can_be_context %} checked {%
       endif %}></td>
    </tr>
    <tr>
        <th>Sort within parent:</th>
        <td> <input id=sort value="{{base.sort|escape}}" /></td>
    </tr>
    <tr>
        <td colspan=2>
            <textarea name=text id=text rows=30 width='100%' spellcheck=true>{{broken_text|safe}}</textarea>
        </td>
    </tr>
</table>
<input type=button onclick='onclick_simple(
       {% if base.has_ident %} "{{- base.ident|escape -}}" {% else %} "" {% endif %},
       "{{base.next_op}}")' value="{{base.next_op_name}}" />
{% if base.has_ident %}
<input type=button onclick='invoke({ t:"Simple",  i:
       "{{- base.ident|escape -}}", a: "Show"})' value="Show" />
<input type=button onclick='invoke({ t:"Simple",  i:
       "{{- base.ident|escape -}}", a: "Delete"})' value="Delete" />
{% endif %}
